@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap" rel="stylesheet');

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

main {
    padding: 10% 0;
}

footer {
    font-size: .7em;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 4%;
}

/* header img */

.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.middle_title {
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 4em;
    color: aliceblue;
}

.scroll-down-arrow {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    cursor: pointer;
    animation: bounce 2s infinite;
}

/* navbar */

.nav-link,
.navbar-brand {
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.navbar-brand {
    font-size: 1.5em;
    color: rgb(255, 255, 255);

}

.navbar {
    position: absolute;
    width: 95%;
    top: 0;
    z-index: 1;
}

.nav-link:hover,
.navbar-brand:hover {
    color: lightgray;
}

/* clips */

.work_clips p {
    margin-top: 2%;
    font-size: .7em;
}

.work_clips {
    padding-top: 3%;
    padding-bottom: 3%;
}

.fire,
.racing,
.purple,
.idlewylde,
.coffee,
.homeless {
    margin: 1%;

}

.video-link {
    position: relative;
    display: inline-block;
}

.video-link img {
    width: 100%;
    height: auto;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

@media (min-width:574px) {
    .nav-item {
        padding: 0 5%;
    }
}

@media (max-width: 576px) {
    .middle_title {
        top: 40%;
        left: 30%;
    }

    .nav-item {
        text-align: right;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        margin-bottom: 20%;
    }

    .bio {
        padding-right: 20%;
        padding-left: 20%;
        padding-bottom: 10%;
    }
}